@font-face {
     font-family: 'Roboto-Regular';
     src: url(assets/fonts/Roboto-Regular.ttf) format(truetype);
}

@font-face {
     font-family: 'Roboto-Bold';
     src: url(assets/fonts/Roboto-Bold.ttf) format(truetype);
}

:root{
     --Roboto-Regular: 'Roboto-Regular' , sans-serif;
     --Roboto-Bold: 'Roboto-Bold', sans-serif;
     --Dark-Slate-Grey: hsl(234, 29%, 20%);
     --Charcoal-Grey: hsl(235, 18%, 26%);
     --Grey: hsl(231, 7%, 60%);
     --White: hsl(0, 0%, 100%);
}

*{
     margin: 0;
     box-sizing: border-box;
}
body{
     background-color: hsl(235, 18%, 26%);
     font-family: var(--Roboto-Regular);
     max-width: 1440px;
     height: 100vh;
     display: grid;
     place-items: center;
     font-size: 16px;
}

.card-subscribe{
     
     width: 750px;
     height: 500px;
     padding: 20px 15px;
     background-color: var(--White);
     border-radius: 25px;
     box-shadow: 2px 2px 15px #00000088;
     display: flex;
     justify-content: space-between;


}

.subscribe-info *{
     border: 1px solid black;
}
 
.subscribe-info{
     width: 55%;
     height: 100%;
     padding: 20px;
     display: flex;
     flex-direction: column;
     
     color: var(--Charcoal-Grey);

}


.subscribe-info ul {
     list-style: none;
     padding: 0;    
     line-height: 10px; 
     font-size: 16px;

     
}

.subscribe-info ul li{
     display: flex;
     flex-direction: row;
     align-items: center ;
     padding: 10px 0;

     border: none;
}
.subscribe-info ul li p{
     margin-left: 10px;
     border: none;
}


.card-subscribe img{
     
     height: 100%;
     border: none;
     
}

.sign-up{
     display: flex;
     flex-direction: column;
}









.succes-msg{

     width: 400px;
     height: 400px;
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 40px;
     border-radius: 25px;
     color: hsl(235, 18%, 26%);
     box-shadow: 2px 2px 15px #00000088;
     
}

.succes-msg img{
     height: 50px;
     width: 50px;
}

.succes-msg h1{
     font-family: var(--Roboto-Bold);
     font-size: 3rem;
     color: var(--Dark-Slate-Grey);
}

.btn{

     background-color: var(--Dark-Slate-Grey);
     border: none;
     padding: 15px 20px;
     border-radius: 5px;
     color: white;
     
     
}

.btn:hover{
     background-color:  var(--Grey);
     cursor: pointer;
}

.btn:active{
     background-color: var();
     transform: translateY(2px);
}


.attribution { 
     font-size: 11px; text-align: center; 
}

.attribution a { 
     color: hsl(228, 45%, 44%); 
}